---
extends: default

rules:
  line-length:
    max: 144
  document-start:
    present: true
  new-line-at-end-of-file: enable
  trailing-spaces: enable
  comments:
    min-spaces-from-content: 1
  new-lines: disable
  truthy: disable
